# NPM 镜像配置 - 使用阿里云镜像
registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/dist
sass_binary_site=https://npmmirror.com/mirrors/node-sass
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
