@import "~taro-ui/dist/style/index.scss";
@import "./styles/tokens.scss";

$bg-primary: $bg-page;
$bg-secondary: $bg-card;

// Global Styles
page {
  background-color: $bg-page;
  font-family: $font-primary;
  color: $text-primary;
  font-size: 28rpx;
  line-height: 1.5;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// H5: hide built-in tabbar (we use a custom TabBar component)
taro-tabbar,
.taro-tabbar__tabbar,
.weui-tabbar {
  display: none !important;
}
